@import '../../../../__data__/style/colors.css';

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 460px;

    .title {
        margin-top: 79.19px;
        font-weight: 700;
        font-size: 68px;
        line-height: 72px;
        color: var(--black);
    }

    .toptext {
        margin-top: 16px;
        font-size: var(--size-md);
        line-height: 24px;
    }

    .littleonesBtn {
        margin-top: 40px;
        width: 180px;
        height: 47px;
        border: none;
        border-radius: 40px;
        background-color: var(--blue-1);
        color: var(--white);
        font-size: var(--size-md);
    }
}

.maskcontainer {
    display: flex;
    width: 560px;
}

.mask {
    position: relative;
}

#image {
    position: absolute;
    clip-path: url(#clipid);
}


