@import '../../../../__data__/style/colors.css';

.container {
  display: flex;
  margin-right: -148px;
  margin-left: -148px;
  padding-right: 148px;
  padding-left: 148px;
  padding-top: 56px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../../../assets/images/UDS.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.information {
  display: flex;
  flex-direction: column;
}

.title {
  width: 460px;
  /* height: 138px; */
  /* left: 831px;
  top: 853px; */
  margin-bottom: 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  display: flex;
  color: #1e1d20;
}

.text {
  width: 460px;
  height: 240px;
  /* left: 831px;
  top: 1012px; */
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.maskcontainer {
  display: flex;
}

.mask {
  position: absolute;
  width: 988px;
  height: 326px;
  left: -96px;
  top: 797px;

  /* background: #efefef; */
}

#image {
  position: absolute;
  background-color: 003eff;
}

.player {
  width: 558px;
  height: 398px;
  background: #003eff;
  box-shadow: 0px 16px 64px rgba(24, 40, 151, 0.395126);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player::before {
  content: '';
  width: 120px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 2px 124px rgba(24, 40, 151, 0.647645);
  border-radius: 50%;
  display: flex;
}

.player::after {
  content: '';
  width: 60px;
  height: 60px;
  display: flex;
  background-image: url(../../../../assets/images/play_btn.png);
  position: absolute;
  background-position: center;
  /* top: calc(50% - 30px);
  left: calc(50% - 20px); */
  background-repeat: no-repeat;
}
