@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.wrapper {
  margin-top: var(--offset-md);
  max-width: 350px;

  .label {
    display: block;
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .error {
    position: absolute;
    left: calc(100% + var(--offset-xs));
    background: var(--red-2);
    border: 1px solid var(--red-7);
    padding: 12px;
    z-index: 2;
  }

  .link {
    font-size: 12px;
    color: var(--green-4);
    text-decoration: none;
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  .field {
    margin-top: 5px;
    display: block;
    height: 56px;
    width: 100%;
    border: 1px solid var(--cool-gray);
    border-radius: 5px;
    outline-color: var(--black);
    padding: 3px 15px;
    font-size: 16px;

    &.alert {
      border-color: var(--red-7);
    }

    &.alert:focus {
      outline-color: var(--red-7);
    }
  }
}
