@import '../../__data__/style/colors.css';

.main {
  border-radius: 5px;
  min-height: 56px;
  color: var(--white);
  border: none;
  font-family: Jura;
  font-style: normal;
  line-height: 19px;
  font-weight: 600;
  font-size: 16px;
  position: relative;

  &:focus {
    outline-color: var(--black);
  }

  & .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.purple {
  background-color: var(--purple-4);

  &:disabled {
    background-color: var(--purple-1);
  }
}

.blue {
  background-color: var(--blue-4);

  &:disabled {
    background-color: var(--blue-1);
  }
}

.green {
  background-color: var(--green-3);

  &:disabled {
    background-color: var(--green-1);
  }
}
