@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.wrapper {
  background: var(--red-2);
  border: 3px solid var(--red-4);
  border-radius: var(--offset-xs);
  padding: var(--offset-xs) var(--offset-md);
  margin: var(--offset-md) 0;

  .title {
    color: var(--red-7);
  }

  .error-text {
    color: var(--red-7);
  }
}
