.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.socialTop {
  font-weight: 600;
  font-size: 38px;
  color: #1E1D20;
  margin-bottom: 24px;
}

.socialBottom {
  display: flex;
}

.socialLogo + .socialLogo {
  margin-left: 48px;
}