@import '../../__data__/style/colors.css';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 148px;
  margin-top: 24px;
}

.right {
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.tab {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: var(--blue-1);
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 34px;  
  }
}

.tabActive::before {
  content: '';
  background: var(--blue-1);
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
}

.phone {
  display: flex;
  align-items: center;
}

.phoneIcon {
  margin-right: 8px;
}

.phoneNumber {
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}
