@import '../../../../__data__/style/colors.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -148px;
    width: calc(100% + 148px * 2);
    height: 1px;
    background: var(--blue-1);
    bottom: 46px;
  }
}

.title {
  display: flex;
  font-weight: 600;
  font-size: 50px;
  color: var(--black);
}

.competitions {
  display: flex;
  margin-top: 40px;
}

.competitionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__date {
    font-weight: bold;
    font-size: 68px;
    line-height: 72px;
    color: var(--black);
  }

  &__month {
    position: relative;
    top: -6px;
    font-weight: 600;
    font-size: 22px;
    color: var(--black);
  }

  &__point {
    margin-top: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--blue-1);
  }

  &__title {
    margin-top: 16px;
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
  }
}