@import '../../__data__/style/colors.css';

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  cursor: pointer;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  padding: 12px 16px;
  outline: none;
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 19px;
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 4px;
  display: flex;
  width: 100%;
  z-index: 10;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  padding: 40px 34px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.159873);
  border-radius: 3px;
}

.selectInputGroup {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.selectInputGroupHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.selectInputGroupControl {
  display: flex;
  justify-content: center;
  color: var(--blue-1);
  margin-right: 17px;
  font-size: 22px;
  width: 12px;
}

.selectInputGroupTitle {
  color: var(--black);
  font-weight: 600;
  font-size: 22px;
}

.selectInputGroupItems {
  margin-left: 30px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.selectInputGroupOption {
  cursor: pointer;
  font-size: 16px;
  color: var(--black);
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.selectInputGroupOptionActive {
  color: var(--blue-1);
  font-weight: bold;
}