@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style//media.css';

.wrapper {
  margin-top: 50px;
  display: flex;
  max-width: 1940px;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #fafafa 0%, #f8f8f9 100%);

  .form-part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (--media-sm) {
      align-items: stretch;
    }
  }

  .paper {
    background-color: var(--white);
    box-shadow: 0px 12px 24px rgba(140, 140, 145, 0.25);
    border-radius: 12px;
    padding: 48px;
    flex: 1;

    @media (--media-lg) {
      flex: 0;
      min-width: 544px;
    }

    @media (--media-md) {
      flex: 0;
      min-width: 544px;
    }
  }

  .info-banner {
    max-width: 576px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);

    @media (--media-md) {
      display: none;
    }

    @media (--media-sm) {
      display: none;
    }
  }
}
