@import '../../../../__data__/style/colors.css';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 148px 32px 148px;
  margin: 0 -148px;
  margin-top: 104px;
  background-color: var(--gray-2);
}

.footerGroup {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.phoneIcon {
  color: var(--gray-1);
}

.phoneNumber {
  margin-left: 8px;
  font-weight: 600;
  font-size: 16px;
  color: var(--gray-3);
}

.social {
  display: flex;
}

.social > div {
  margin-right: 16.07px; 
}



