:root {
  --offset-lg: 48px;
  --offset-md2: 32px;
  --offset-md: 24px;
  --offset-sm: 16px;
  --offset-xs: 8px;

  /* font sizes */
  --size-lg: 24px;
  --size-md: 16px;
  --size-sm: 14px;
  --size-xs: 12px;
}
