@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.type-link {
  text-decoration: none;
  font-family: Jura;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.size {
  &-lg {
    line-height: 30px;
    font-size: var(--size-lg);
  }

  &-md {
    font-size: var(--size-md);
  }

  &-sm {
    font-size: var(--size-sm);
  }

  &-xs {
    font-size: var(--size-xs);
  }
}

.color {
  &-green {
    color: var(--green-4);
  }

  &-black {
    color: var(--black);
  }
}

.type-button {
  font-size: 20px;
  font-weight: 600;
  min-height: 56px;
  text-decoration: none;
  text-align: center;
  padding: var(--offset-sm) 0;
  margin-top: var(--offset-sm);
  border-radius: 10px;

  &:hover {
    background-color: var(--white-2);
  }

  &:focus {
    outline-color: var(--black);
  }
}
